* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

body {
  font-family: sans-serif;
}

.main-div {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0 80px;
}

header {
  margin-bottom: 30px;
  position: relative;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.header-h3 {
  font-size: 14px;
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.header-p {
  font-size: 14px;
  width: 600px;
  display: inline-block;
  margin-bottom: 10px;
}

article h2 {
  font-size: 22px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.job-aim {
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.job-aim-p {
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
}

.time {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.parent-div {
  border-bottom: 1px solid #e2d6d6;
}

.child-div {
  width: 79%;
  display: inline-block;
}

.start-div {
  padding-bottom: 5px;
}

.mid-div {
  padding: 5px 0;
}

.end-div {
  margin-bottom: 30px;
  padding: 5px 0;
}

ul,
ol {
  margin-left: 25px;
}

.hob-ul {
  margin-bottom: 30px;
}

.project {
  font-size: 22px;
}

.project-ul {
  margin-bottom: 10px;
}

footer {
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

.footer-box {
  border-top: 1px solid #e2d6d6;
  border-bottom: 1px solid #e2d6d6;
  background-color: #f7f7f7;
}

img {
  width: 120px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
